---
---

@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:wght@300;800&display=swap');

*, *:before, *:after{
    box-sizing: border-box;
}

html, body, div, span, object, iframe, figure, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, code, em, img, small, strike, strong, sub, sup, tt, b, u, i, ol, ul, li, fieldset, form, label, table, caption, tbody, tfoot, thead, tr, th, td, main, canvas, embed, footer, header, nav, section, video{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    text-size-adjust: none;
}

footer, header, nav, section, main{
    display: block;
}

body{
    line-height: 1;
}

ol, ul{
    list-style: none;
}

blockquote, q{
    quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after{
    content: '';
    content: none;
}

table{
    border-collapse: collapse;
    border-spacing: 0;
}

input{
    -webkit-appearance: none;
    border-radius: 0;
}

$color1: #1e1f28;
$color2: #8be9fd;
$color3: #50fa7b;
$color4: #ffb86c;
$color5: #ff79c6;
$color6: #bd93f9;
$color7: #ff5555;
$color8: #fbfbfb;

$md: 768px;
$lg: 992px;

body {
    padding: 0;
    margin: 0;
    background: $color8;
    font-family: 'Azeret Mono', monospace;
    font-size: 1em;
    line-height: 3.5em;
}

h1, h2, h3, h4 {
    line-height: 2rem;

    @media screen and (min-width: $md) {
        line-height: 5rem;
    }
}

.bg-color1 {
    background-color: $color1;
}

.bg-color4 {
    background-color: $color4;
}

.size-lg {
    font-size: 2rem;

    @media screen and (min-width: $md) {
        font-size: 4rem;
    }
}

.stab1 {
    background-color: $color4;
}

.stab2 {
    background-color: $color2;
}

.stab3 {
    background-color: $color6;
}

.stab4 {
    background-color: $color3;
}

.color-reverse {
    color: $color8;
    a {
        color: $color8;
    }
}

a {
    color: $color1;
}

.img-rounded {
    border-radius: 50%;
}

.main-wrapper {
    margin: 0 auto;
    .content {
        margin: 0 auto;
        max-width: 800px;
        padding-left: 20px;
        padding-right: 20px;

        p {
            line-height: 1.4em;
        }

        h3 {
            font-weight: 800;
            padding-top: 2rem;
        }

        img {
            display: block;
            max-width: 100%;
            margin: 1rem auto;
        }
    }
}

.main-header {
    .color-cells {
        display: block;
        width: 100%;
        height: 7px;
    
        background: red;
        .color-cell {
            height: 7px;
            width: 16.66666%;
            float: left;
        }

        .color-cell1 {
            background-color: $color2;
        }
        .color-cell2 {
            background-color: $color3;
        }
        .color-cell3 {
            background-color: $color4;
        }
        .color-cell4 {
            background-color: $color5;
        }
        .color-cell5 {
            background-color: $color6;
        }
        .color-cell6 {
            background-color: $color7;
        }

        &:after {
            content: " ";
            clear: left;
        }
    }
}

.padding-lg {
    padding: 4.5rem 0;

    @media screen and (min-width: $md) {
        padding: 9.5rem 0;
    }
}

.margin-top-lg {
    margin-top: 4.5rem;
}

.homepage {
    h1 {
        color: $color3;
        text-transform: uppercase;
        font-size: 2rem;
        font-weight: 800;

        @media screen and (min-width: $md) {
            font-size: 4rem;
        }
    }

    h2 {
        color: $color4;
        font-size: 1.5rem;

        @media screen and (min-width: $md) {
            font-size: 3rem;
        }
    }
    
    .picture-wrapper {
        width: 100%;
        min-height: 600px;
        background: url(/assets/img/bureau-web.jpg) 50% 50% no-repeat;
        
        img {
            width: 100%;
        }
    }
}

#profile-picture {
    display: block;
    width: 100%;
    max-width: 200px;
    margin: 4.5rem auto;
}

audio {
    filter: sepia(100%) saturate(70%) grayscale(1) contrast(99%) invert(0%);
    width: 100%;
}